@import  './add';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin: auto;
    padding: 0 32px;
    max-width: 1300px;
}

nav{
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 999;
    background-color: white;
    transition: .4s ease-in-out;
    .navup{
        background-color: #f5f5f5;
        
    .nav-up{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        gap: 50px;
        align-items: center;
        
        
        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            ul{
                list-style: none;
                display: flex;
                gap: 25px;
                color: gray;
                text-align: center;
                align-items: center;
                justify-content: center;
                li{
                    
                    &:hover{
                        color: #e65540;
                        cursor: pointer;
                        transition: .3s;
                    }
                }
            }
        }
        .text{
            font-size: 13px;
            color: #888888;
        }
        .select{
            font-size: 13px;
            color: #888888;
            select{
                font-size: 16px;
            }
        }
    }}
    .nav-main{
       width: 100%;
       display: flex;
       justify-content: space-between;
       padding: 20px 0;
       .img{
        display: flex;
        align-items: start;
       }
        .list{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            ul{
                list-style: none;
                gap: 20px;
                display: flex;
                li{
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    span{
                        color: #e65540;
                    }
                }
            }
        }
        .panel{
            display: flex;
            font-size: 25px;
            color: #888888;
            .admin{
                border-right: 1px solid #888888;
                display: flex;
                align-items: center;
                padding-left: 18px;
                padding-right: 18px;
                
            }
            .baskett{
                display: flex;
                align-items: center;
                padding-left: 18px;
                padding-right: 18px;
            }
        }
    }
}

.s1{
    width: 100%;
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .img{
        width: 100%;
        padding: 140px 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .text{
            position: absolute;
            display: flex;
            width: 40%;
            flex-direction: column;
            gap: 15px;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: white;
            h3{
                font-size: 21px;
                font-weight: 400;
            }
            h1{
                font-size: 65px;
                font-weight: 600;
            }
           button{
            font-size: 15px;
            width: 28%;
            border-radius: 50px;
            border: none;
            height: 45px;
            margin-top: 24px;
            &:hover{
                background-color: #e65540;
                color: white;
                transition: .3s;
            }
           }
            
        }
        img{
            width: 130%;
            height: 100%;  
        }
    }
}

.s2{
  width: 100%;
  margin: auto;
  .s2-in{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .text{
        h2{
            font-weight: bold;
        }
    }
    .boxes{
        padding: 30px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between ;
        .box1{
            width: 23%;
            img{
                width: 100%;
            }
            .text{
                padding: 10px 0;
                color: #555555;
                h5{
                    font-weight: normal;
                    font-size: 16px;
                }
            }
        }
    }
  }  
}
.s3{
    width: 100%;
    background-color: #F2F2F2;
    padding: 10px 0;
    .s3-in{
        margin: auto;
        width: 100%;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items:center;
        .left{
            width: 48%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
            overflow: hidden;
            &:hover img{
                transform: scale(1.1);
                transition: .4s;
                transition-delay: .2s;
            }
            img{
                width: 100%;
                height: 100%;

            }
            .text{
                position: absolute;
                z-index: 998;
                h3{
                    font-size: 30px;
                    font-weight: 600;
                }
                h1{
                    font-size: 50px;
                    font-weight: bold;
                }
                p{
                    font-size: 15px;
                }
            }
        }
        .right{
            width: 48%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            &:hover img{
                transform: scale(1.1);
                transition: .4s;
                
            }
            img{
                width: 100%;
                height: 100%;
            }
            .text{
                position: absolute;
                top:60%;
                width: 50%;
                z-index: 998;
                .up{
                    line-height: 10px;
                    text-align: center;
                   span{
                    color: #e65540;
                   }
                }
                .down{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 50px;
                    .box1{
                        width: 23%;
                        border: 1px solid #8888887c;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        span{
                            color: #888888;
                        }
                    }
                }
            }
        }
    }
}

.s4{
    width: 100%;
    margin: auto;
    padding: 60px 0;
    .s4-in{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .text{
          h2{
              font-weight: bold;
          }
      }
      .boxes{
          padding: 30px 0;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content:space-between ;
          .box1{
              width: 32%;
              .img{
                overflow: hidden;
                &:hover img{
                    transform: scale(1.1);
                    transition: .3s;
                }
              img{
                  width: 100%;
                  height: 100%;
              }}
              .text{
                  padding: 10px 0;
                  color: #555555;
                  h5{
                      font-weight: normal;
                      font-size: 13px;
                  }
                  h4{
                    font-size: 16px;
                    &:hover{
                        color: #e65540;
                        transition: .2s;
                        cursor: pointer;
                    }
                  }
                  p{
                    font-size: 13px;
                    margin-top: 17px;
                  }
              }
          }
      }
    }  
  }
  .s5{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    .text{
        h2{
            font-weight: bold;
        }
    }
    .boxes{
        width: 100%;
        display: flex;
        padding: 40px 0;
        flex-wrap: wrap;
        .box1{
            width: 20%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .boxes1{
        width: 100%;
        display: flex;
        padding: 40px 0;
        justify-content: space-between;
        .box1{
            width: 30%;
            border-right: 1px solid #88888879;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h3{
                font-size: 18px;
              
            }
            i{
                font-size: 13px; 
                 &:hover{
                    color: #e65540;
                 }
            }
            
        }
        .box2{
            width: 30%;
            border-right: 1px solid #88888879;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h3{
                font-size: 18px;
            }
            i{
                font-size: 13px;
            }
        }
        .box3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;
            h3{
                font-size: 18px;
            }
            i{
                font-size: 13px;
            }
        }
    }
  }
  footer{
    width: 100%;
    margin: auto;
    background-color: #F2F2F2;
    .footer-in{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        .main{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        .box1{
            width: 32%;
            h5{
                font-size: 15px;
                font-weight: bold;
            }
            p{
                font-size: 13px;
                margin-top: 22px;
            }
            .icons{
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 15px;
            
                    
            
                
            }
        }
    }
    .box2{
        width: 15%;
        h5{
            font-size: 15px;
            font-weight: bold;
        }
        .list{
            display: flex;
            flex-direction: column;
            width: 40%;
           line-height: 29px;
           margin-top: 20px;
           font-size: 13px;
        }
       
    }
    .box3{
        width: 15%;
        h5{
            font-size: 15px;
            font-weight: bold;
        }
        .list{
            display: flex;
            flex-direction: column;
            width: 40%;
           line-height: 29px;
           margin-top: 20px;
           font-size: 13px;
        }
    }
    .box4{
        h5{
            font-size: 15px;
            font-weight: bold;
        }
        input{
            border-bottom: 1px solid #888888;
            border-top: none;
            border-left: none;
            border-right: none;
            font-size: 13px;
            width: 100%;
            margin-top: 20px;
        }
        button{
            margin-top: 20px;
            width: 70%;
            background-color: black;
            color: white;
            border: none;
            border-radius: 50px;
            height: 40px;
            &:hover{
                background-color: #e65540;
                transition: .3s;
            }
        }

    }}
    .boxess{
        width: 30%;
        padding: 30px 0;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 60px;
    }
    p{
        font-size: 13px;
        color: #888888;
    }
  }


  @media screen and (min-width:768px) and (max-width:995px){
   
    nav{
        
        .navup{
            display: none;
        }
        .nav-main{
            .list{
                display: none;
            }   
        }
    }
    .s1{
      
            .img{
                width: 100%;
                padding: 80px;
            height: 720px;
            .text{
                width: 70%;
                button{
                    display: none;
                }
            }
        img{
            width: auto;
        }}
    }
    .s3{
        .s3-in{
            flex-direction: column;
            row-gap: 30px;
            .left{
                width: 90%;
            }
            .right{
                width: 90%;
            }
        }
    }
    .s5{
        .boxes{
            .box1{
                width: 50%;
            }
        }
    }
    footer{
        .footer-in{
            .main{
                row-gap: 40px;
                .box1{
                    width: 100%;
                }
                .box4{
                    width: 70%;
                }
            }

        }
    }
  }
  @media screen and (min-width:565px) and (max-width:768px){
   
    nav{
        
        .navup{
            display: none;
        }
        .nav-main{
            .list{
                display: none;
            }   
        }
    }
    .s1{
      
            .img{
                width: 100%;
                padding: 80px;
            height: 620px;
            .text{
                width: 100%;
                button{
                    display: none;
                }
            }
        img{
            width: auto;
        }}
    }
    .s2{
        .s2-in{
            .boxes{
                .box1{
                    width: 50%;
                }
            }
        }
    }
    .s3{
        .s3-in{
            flex-direction: column;
            row-gap: 30px;
            .left{
                width: 100%;
            }
            .right{
                width: 100%;
            }
        }
    }
    .s4{
        .s4-in{
            .boxes{
            .box1{
                width: 100%;
            }}
        }
    }
    .s5{
        .boxes{
            .box1{
                width: 50%;
            }
        }
    }
    footer{
        .footer-in{
            .main{
                row-gap: 40px;
                .box1{
                    width: 100%;
                }
                .box4{
                    width: 70%;
                }
            }

        }
    }
  }
  @media screen and (max-width:565px){
   
    nav{
        
        .navup{
            display: none;
        }
        .nav-main{
            .list{
                display: none;
            }   
        }
    }
    .s1{
      
            .img{
                width: 100%;
                padding: 80px;
            height: 620px;
            .text{
                width: 70%;
                button{
                    display: none;
                }
            }
        img{
            width: auto;
        }}
    }
    .s2{
        .s2-in{
            .boxes{
                .box1{
                    width: 100%;
                }
            }
        }
    }
    .s3{
        .s3-in{
            flex-direction: column;
            row-gap: 30px;
            .left{
                width: 100%;
            }
            .right{
                width: 100%;
            }
        }
    }
    .s4{
        .s4-in{
            .boxes{
            .box1{
                width: 100%;
            }}
        }
    }
    .s5{
        .boxes{
            .box1{
                width: 100%;
            }
        }
        .boxes1{
            flex-direction: column;
            row-gap: 30px;
            .box1{
                width: 100%;
            }
            .box2{
                width: 100%;
            }
            .box3{
                width: 100%;
            }
        }
    }
    footer{
        .footer-in{
            .main{
                row-gap: 40px;
                .box1{
                    width: 100%;
                }
                .box4{
                    width: 70%;
                }
            }

        }
    }
  }